body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
}

/* Header */
.header {
    background: #0033aa;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Main Content Box */
.content {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
}

/* Footer */
.footer {
    background: #0033aa;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}



